.h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image:url("../images/pattern.jpg");
}


.h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;

}


.h3{
    font-family: Helvetica;
    
}


.p{
    font-family: Helvetica;
}


.p1{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}


.h22{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}


.h222{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}
